 :root{
   font-size: 15px;
 }
   
   .accordion-toggle{
   	font-size: 2rem;
   	text-align: center;
    cursor: pointer;
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
  }
   .accordion-toggle:hover{
   		background-color: #ccc;
   }
  .accordion-content {
  	background-color: white;
  	font-size: 1.2rem;
  	display: none;
  }
  .accordion-content.default {
    text-align: justify;
  	display: block;
  	padding: 0 18px;
 }





